[Unit]
Description=FindVibeFiber Web Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/findvibefiber
ExecStart=/home/pi/findvibefiber/findvibefiber
Restart=always
RestartSec=5
Environment=GOMAXPROCS=4

[Install]
WantedBy=multi-user.target 